
@page "/MercaditoAli/ClientPage/{ClientId:int}"

@using MercaditoAli.Areas.MercaditoAli.Repositories;
@using MercaditoAli.Areas.MercaditoAli.Entities;
@using MercaditoAli.Areas.MercaditoAli.DTOs;
@inject ClientRepository clientRepository;

@if (ClientId == 0)
{
    <PageTitle>Agregar cliente - MercaditoAli</PageTitle>
}
else
{
    <PageTitle>Editar cliente - MercaditoAli</PageTitle>
}

<MercaditoAli.Components.Layout.NavBarVerticalDashboard lstFoldersAndPages="lstFoldersAndPages"></MercaditoAli.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <MercaditoAli.Components.Layout.NavBarHorizontalDashboard></MercaditoAli.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    @if(ClientId == 0)
                    {
                        <span>Agregar cliente</span>
                    }
                    else
                    {
                        <span>Editar cliente</span>
                    }
                </h1>
                <NavLink class="btn btn-outline-info" href="MercaditoAli/ClientPage">
                    <span class="fas fa-chevron-left"></span>
                    &nbsp;Volver
                </NavLink>
            </div>
            <div class="card-body px-0">
                <form method="post" @onsubmit="Submit"
                      @formname="client-form" class="mb-4">
                    <AntiforgeryToken />
                    
                    <div class="row">
                        <div class="col-6">
                            <!--FullName-->
                            <div class="mb-3">
                                <label for="fullname"
                                       class="input-group input-group-static">
                                    Nombre completo del dueño
                                </label>
                                <input type="text"
                                       id="fullname"
                                       class="form-control"
                                       required
                                       @bind="Client!.FullName" />
                            </div>
                        </div>
                        <div class="col-6">
                            <!--CommercialName-->
                            <div class="mb-3">
                                <label for="commercialname"
                                       class="input-group input-group-static">
                                    Nombre comercial
                                </label>
                                <input type="text"
                                       id="commercialname"
                                       class="form-control"
                                       @bind="Client!.CommercialName" />
                            </div>
                        </div>
                    </div>
                    <!--Phone-->
                    <div class="mb-3">
                        <label for="phone"
                               class="input-group input-group-static">
                            Teléfono
                        </label>
                        <input type="tel"
                               id="phone"
                               class="form-control"
                               @bind="Client!.Phone" />
                    </div>
                    <!--Address-->
                    <div class="mb-3">
                        <label for="address"
                               class="input-group input-group-static">
                            Dirección
                        </label>
                        <textarea rows="10"
                            class="form-control"
                            @bind="Client!.Address"
                            
                            id="address">
                        </textarea>
                    </div>
                    <hr />
                    <button id="btn-submit" type="submit"
                            class="btn bg-gradient-primary">
                        <i class="fas fa-pen"></i>
                        @if (ClientId == 0)
                        {
                            <span>Agregar</span>
                        }
                        else
                        {
                            <span>Editar</span>
                        }
                    </button>
                    <NavLink class="btn btn-outline-info" href="MercaditoAli/ClientPage">
                        <span class="fas fa-chevron-left"></span>
                        &nbsp;Volver
                    </NavLink>
                </form>
                @((MarkupString)Message)
            </div>
        </div>
    </div>

    <MercaditoAli.Components.Layout.FooterDashboard></MercaditoAli.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<folderForDashboard> lstFoldersAndPages = [];

    public List<Role> lstRole { get; set; } = [];

    [Parameter]
    public int ClientId { get; set; }

    public string Message { get; set; } = "";

    [SupplyParameterFromForm]
    public Client Client { get; set; } = new();

    public User User { get; set; } = new();

    
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstFoldersAndPages = [];
            Client = new();

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                        .GetAll();

                    lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);

                    lstRole = roleRepository.GetAll();

                    if (ClientId == 0)
                    {
                        //Create new Client
                        Client = new();
                    }
                    else
                    {
                        //Edit Client
                        
                        Client = clientRepository
                                    .GetByClientId(ClientId);
                    }
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }

    private async Task Submit()
    {
        try
        {
            if (ClientId == 0)
            {
                //Create new Client
                Client.Active = true;
                Client.UserCreationId = User.UserId;
                Client.UserLastModificationId = User.UserId;
                Client.DateTimeCreation = DateTime.Now;
                Client.DateTimeLastModification = DateTime.Now;

                clientRepository
                        .Add(Client);
            }
            else
            {
                //Update data
                Client.DateTimeLastModification = DateTime.Now;
                Client.UserLastModificationId = User.UserId;

                clientRepository
                            .Update(Client);
            }

            //Redirect to users page
            NavigationManager.NavigateTo("MercaditoAli/ClientPage");
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
        finally
        {
            //Re-render the page to show ScannedText
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
    }

    
}

